.App-container {
  width: 98.9vw;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.itemWrapper {
  width: 98.9vw;
  height: fit-content;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
