.footerWrapper {
    width: 97.58vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-image:  linear-gradient(to top, #5de0e6,#004aad);
}

@media (min-width: 436px) and (max-width: 820px){
    .footerWrapper {
        width: 95.5vw;
    }
}