.footerWrapper {
    width: 97.3vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image:  linear-gradient(to top, #5de0e6,#004aad);
}