.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 98.28vw;
    height: 150px;
    color: white;
    text-align: center;
    background-image:  linear-gradient(to bottom, #5de0e6,#004aad);
    img {
        width: 15vw;
        height: 20vh;
    }
}

.postingLinks {
    display: flex;
}

.link1,
.link2 {
    text-decoration: none;
    color: white;
}