.mainPostingsWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 60vw;
    height: fit-content;
    max-width: 60vw;
    max-height: 25vh;
    border-radius: 2rem;
    margin: 15px;
    background-color: antiquewhite;
}

.contentWrapper {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    text-align: start;
}

.secondContent, 
.firstContent {
    margin: 5px;
    width: 50%
}


.companyLogo {
    width: 70%;
    max-width: 70%;
}

.moreDetails {
    text-decoration: none;
}

.buttonSection  button {
        width: fit-content;
}