.allSavedContent {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 80vh;
}

.deletePosting {
    width: 25%;
    height: 15%;
    max-height: 15%;
    margin-top: 15px;
    border-radius: 2.5rem;
    background-color: lightblue;
    border: 2px solid lightblue;
    cursor: pointer;
}

.backToPostings {
    width: 50%;
    border-radius: 2.5rem;
    background-color: antiquewhite;
    background-color: lightblue;
    border: 2px solid lightblue;
}

.backToPostingsLink {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

