.detailsWrapper {
    display: flex;
    width: 80vw;
    height: fit-content;
    min-height: 80vh;
    background-color: antiquewhite;
    border-radius: 2.5rem;
    padding: 15px;
    margin: 10px;
}

.positionContent { 
    width: 25vw;
    margin: 10px;
    padding: 10px;
    border-right: 2px solid black;
    img {
    width: 80%;
    }
}

.locationContent {
    width: 100vw;
    text-align: start;
}

.companyPosting {
    width: 10vw;
    background-color: lightblue;
    margin: 5px;
    border: none;
    border-radius: 2.5rem;
}

.companyLink {
    text-decoration: none;
    color: white;

}

.read-more-link {
    color: red;
    cursor: pointer;
}

.backButton {
    width: 14%;
    height: 2.4%;
    max-height: 2.4%;
    max-width: 14%;
    background-color: lightblue;
    border: none;
    border-radius: 2.5rem;
    margin: 5px;
}

.backLink {
    text-decoration: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.companyPosting {
    cursor: pointer;
}

.saved,
.saveLater {
    width: 10%;
    height: 2.5%;
    font-size: 15px;
    max-width: 10%;
    max-height: 9%;
    border-radius: 2.5rem;
    background-color: lightblue;
    border: 2px solid lightblue;
    cursor: pointer;
}


.loadingText {
    font-size: 50px;
}

.loadingText span {
    margin: 0 -0.03em;
    animation: loading 1.2s infinite alternate;
}

.loadingText span:nth-child(1){
    animation-delay: 0.1s;
}

.loadingText span:nth-child(2){
    animation-delay: 0.12s;
}

.loadingText span:nth-child(3){
    animation-delay: 0.13s;
}

.loadingText span:nth-child(4){
    animation-delay: 0.20s;
}

.loadingText span:nth-child(5){
    animation-delay: 0.21s;
}
.loadingText span:nth-child(6){
    animation-delay: 0.22s;
}
.loadingText span:nth-child(7){
    animation-delay: 0.23s;
}
.loadingText span:nth-child(8){
    animation-delay: 0.24s;
}
.loadingText span:nth-child(9){
    animation-delay: .24s;
}
.loadingText span:nth-child(9){
    animation-delay: .25s;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}